<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Buchdaten Erfassen</div>
    </div>
    <div class="panel-body">
        <form>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Titel:</label>
                    <input type="text" ng-model="bc.newBookData.titel" class="form-control"> </input>
                </div>
                <div class="form-group col-md-6">
                    <label>ISBN:</label>
                    <input type="text" ng-model="bc.newBookData.isbn" class="form-control"> </input>
                </div>
            </div>
            <div class="btn-group">
                <button id="newBookDataOK" class="btn btn-info" type="submit" ng-click="bc.addBook()">
                    <span class="glyphicon glyphicon-save" title="Eingaben als neues Buch speichern mit Titel {{bc.book.titel}}"></span> Obige Daten als neues Buch aufnehmen
                </button>
            </div>
        </form>
    </div>
</div>
