<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title th:text="#{buch.form.register.titel}">?Kleine Bücherverwaltung - Buch erfassen</title>
</head>
<body>
	<h1 layout:fragment="header" th:text="#{buch.form.register.section}">?Buchdaten - Erfassen</h1>
	<div layout:fragment="content" class="container">
		<form action="erfassebuch.html" th:attr="action=@{#{link.buch.registrieren}}" method="post">
			<fieldset>
			<label>Titel:</label>
				<input type="text" name="titel" /> 
				<label>ISBN:</label>
				<input type="text" name="isbn" />
				<!-- submit button -->
				<input type="submit" value="Subscribe me!"
					th:attr="value=#{buch.form.register.submit}" />
			</fieldset>
		</form>
	</div>
</body>
</html>