<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title th:text="#{buch.form.register.titel}">?Kleine
	Bücherverwaltung - Buch erfassen</title>
</head>
<body>
	<h1 layout:fragment="header" th:text="#{buch.form.register.section}">?Buchdaten
		- Erfassen</h1>
	<div layout:fragment="content" class="container">

		<div class="alert alert-danger alert-dismissible" role="alert"
			th:if="${message != null}">

			<button type=" button" class="close" data-dismiss="alert"
				aria-label="Schließen">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4>Fehler!</h4>
			<p th:text="${message}">Mindestens eine Eingabe ist fehlerhaft.</p>
			<!-- 
			<p>
				<button type="button" class="btn btn-danger">Take this
					action</button>
				<button type="button" class="btn btn-default">Or do this</button>
			</p>
			 -->
		</div>


		<form action="erfassebuch.html"
			th:attr="action=@{#{link.buch.registrieren}}" method="post">

			<fieldset>
				<div class="row">
					<div class="form-group col-xs-2">
						<label for="titel">Titel</label> <input id="titel" type="text"
							th:attr="value=${titel}" name="titel" class="form-control"
							required="true" autofocus="true" />
					</div>

					<div class="form-group col-xs-3">
						<label for="isbn">ISBN</label> <input id="isbn" type="text"
							th:attr="value=${isbn}" name="isbn" class="form-control" />
					</div>
				</div>
				<div class="row">
					<!-- submit button -->
					<div class="form-group col-xs-2">
						<button type="submit" class="btn btn-lg btn-success"
							th:text="#{buch.form.register.submit}">?Subscribe me!</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>