<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Layout</title>

<!-- Das neueste kompilierte und minimierte CSS 
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
	-->

<!-- Optionales Theme 
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
-->

<!-- Das neueste kompilierte und minimierte JavaScript 
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
-->

<!-- Das locale und minimierte CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../css/bootstrap.min.css" />

<!-- Das lokale optionale Theme  -->
<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"
	href="../css/bootstrap-theme.min.css" />

<!-- Das lokale und minimierte JavaScript 
<link rel="stylesheet" th:href="@{/js/bootstrap.min.js}"
	href="../js/bootstrap.min.js" />

<link rel="stylesheet" th:href="@{/js/docs.min.js}"
	href="../js/docs.min.js" />
-->

<!-- Die spezifischen lokalen CSS -->
<link rel="stylesheet" th:href="@{/css/dashboard.css}"
	href="../css/dashboard.css" />

<link rel="stylesheet" th:href="@{/css/jumbotron.css}"
	href="../css/jumbotron.css" />

<link rel="stylesheet" th:href="@{/css/justified-nav.css}"
	href="../css/justified-nav.css" />

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="true"
					aria-controls="navbar">
					<span class="sr-only">Navigation ein-/ausblenden</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" target="_blank"
					href="https://github.com/FunThomas424242/books.example"><img
					style="position: absolute; top: 0; left: 0; border: 0;"
					src="https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67"
					alt="Fork me on GitHub"
					data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png" /></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="openID" class="form-control" />
					</div>
					<button type="submit" class="btn btn-success">Anmelden</button>
				</form>
				<form class="navbar-form navbar-right">
					<button type="submit" class="btn btn-success">Zugang
						erstellen</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a th:attr="href=#{link.books}">Bücher</a></li>
					<li><a th:attr="href=#{link.settings}">Einstellungen</a></li>
					<li><a th:attr="href=#{link.user}">Nutzer</a></li>
					<li><a th:attr="href=#{link.impressum}">Impressum</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<h1 layout:fragment="header" class="page-header">Layout</h1>
		<div layout:fragment="content">Fake content</div>
		<!-- Site footer -->
		<footer class="footer">
		
			<div>
			powered by <a href="http://www.glyphicons.com/">glyphicons</a>,
			powered by <a href="http://www.getboostrap.com">bootstrap</a>,
			powered by <a href="http://www.spring.io">spring</a>
			</div>
			<div>
				<a href='https://www.openhub.net/accounts/68990?ref=Detailed'
					target='_blank'> <img
					alt='Open Hub profile for FunThomas424242' border='0' height='35'
					src='https://www.openhub.net/accounts/68990/widgets/account_detailed.gif'
					width='230' />
				</a>erstellte die Anwendung und änderte sie zuletzt in 2015.
			</div>
		</footer>
	</div>
	<!-- container -->

	<!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
	<script th:attr="src=@{/js/bootstrap.min.js}"
		src="../js/bootstrap.min.js"></script>
	<script th:attr="src=@{/js/docs.min.js}" src="../js/docs.min.js"></script>

</body>
</html>
