<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Kleine Bücherverwaltung - Nutzerdaten</title>
</head>
<body>
	<h1 layout:fragment="header">Nutzerdaten</h1>
	<div layout:fragment="content" class="content">
		<!-- Jumbotron -->
		<div class="jumbotron">
			<h3>Name des Nutzers</h3>
			<p>Platzhalter für den QR-Kode der UUID des Users.</p>
			<p>Platzhalter für den öffentlichen Schlüssel des Users</p>
		</div>
	</div>
</body>
</html>


