<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="true"
					aria-controls="navbar">
					<span class="sr-only">Navigation ein-/ausblenden</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" target="_blank"
					href="https://github.com/FunThomas424242/books.example"> <img
					style="position: absolute; height: 50px; top: 0; left: 0; border: 0;"
					src="../img/Lieblingsbuch149x149.png" alt="App Icon Lieblingsbuch">
					Books.App v1.1.2-SNAPSHOT
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="openID" class="form-control" />
					</div>
					<button type="submit" class="btn btn-success">Anmelden</button>
					<button type="submit" class="btn btn-default">Zugang
						Erstellen</button>
				</form>
				<div class="container">
					<div>
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="booklist.html">Bücher</a></li>
							<li><a href="einstellungen.html">Einstellungen</a></li>
							<li><a href="user.html">Nutzer</a></li>
							<li><a href="impressum.html">Impressum</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
