<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Kleine Bücherverwaltung - Bücherregal</title>
</head>
<body>
	<h1 layout:fragment="header" th:text="#{books.section}">?Bücherregal</h1>
	<div layout:fragment="content" class="content">
		<div class="table-responsive">

			<table id="buchliste" class="table table-bordered table-striped table-condensed">
				<thead>
					<tr>
						<th>ID</th>
						<th>Titel</th>
						<th>ISBN</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${books.empty}">
						<td id="message" colspan="3" th:text="#{message.buch.liste.leer}">?No
							messages</td>
					</tr>
					<tr th:each="book : ${books}">
						<td th:text="${book.id}">?1</td>
						<td th:text="${book.titel}">?Titel</td>
						<td th:if="${book.isbn != null}" th:title="${book.isbn.toString()}+' '+( (${book.isbn.isValid()})?'gültige':'ungültige')+' ISBN.'" 
							th:class="${!book.isbn.isValid()}?'warning has-warning has-feedback'" >
							<span th:text="${book.isbn.toString()}"  th:attr="id='isbnText' +${!book.isbn.isValid()}?' aria-describedby=isbnStatus'">?ISBN</span>
							<span th:unless="${book.isbn.isValid()}" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
							<span th:unless="${book.isbn.isValid()}" id="isbnStatus" class="sr-only">(ungültige ISBN)</span>
						</td>
						<td th:if="${book.isbn == null}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Jumbotron -->
		<div class="jumbotron">
			<p>
				<a id="erfasseBuch" class="btn btn-lg btn-success"
					th:href="@{#{link.buch.erfassen}}" role="button"
					th:text="#{buch.liste.link.erfassen}">?Weiteres Buch erfassen</a>
			</p>
		</div>
	</div>
</body>
</html>