<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Kleine Bücherverwaltung - Bücherregal</title>
</head>
<body>
	<div layout:fragment="navmenu">
		<ul class="nav navbar-nav navbar-right">
			<li class="active"><a th:attr="href=#{link.books}">Bücher</a></li>
			<li><a th:attr="href=#{link.settings}">Einstellungen</a></li>
			<li><a th:attr="href=#{link.user}">Nutzer</a></li>
			<li><a th:attr="href=#{link.impressum}">Impressum</a></li>
		</ul>
	</div>

	<div layout:fragment="header">
		<div class="page-header">
			<h1 th:text="#{books.section}">
				?Bücherregal - <small>Liste aller B&uuml;cher</small>
			</h1>
		</div>
		<p>
			<a id="erfasseBuch" class="btn btn-lg btn-success"
				th:href="@{#{link.buch.erfassen}}" role="button"
				th:text="#{buch.liste.link.erfassen}">?Weiteres Buch erfassen</a>
		</p>

	</div>
	<div layout:fragment="content">


		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Panel title</h3>
			</div>
			<div ng-app="app" ng-controller="MainCtrl">
				<button id="refreshButton" type="button" class="btn btn-success"
					ng-click="refreshData()">Refresh Data</button>
				<strong>Calls Pending:</strong> <span ng-bind="callsPending"></span>
				<br> <br> <strong>{{myData.length}} rows</strong> <br>
				<div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit
					ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning
					ui-grid-selection ui-grid-move-columns ui-grid-importer
					ui-grid-exporter ui-grid-grouping class="grid table"></div>
			</div>

			<div class="panel-footer">Panel footer</div>
		</div>



		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Panel title</h3>
			</div>


			<table id="buchliste"
				class="table table-responsive table-hover table-bordered table-striped table-condensed">
				<thead>
					<tr>
						<th>ID</th>
						<th>Titel</th>
						<th>ISBN</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${books.empty}">
						<td id="message" colspan="3" th:text="#{message.buch.liste.leer}">?No
							messages</td>
					</tr>
					<tr th:each="book : ${books}">
						<td th:text="${book.id}">?1</td>
						<td th:text="${book.titel}">?Titel</td>
						<td th:if="${book.isbn != null}"
							th:title="${book.isbn.toString()}+' '+( (${book.isbn.isValid()})?'gültige':'ungültige')+' ISBN.'"
							th:class="${!book.isbn.isValid()}?'warning has-warning has-feedback'">
							<span th:text="${book.isbn.toString()}"
							th:attr="id='isbnText' +${!book.isbn.isValid()}?' aria-describedby=isbnStatus'">?ISBN</span>
							<span th:unless="${book.isbn.isValid()}"
							class="glyphicon glyphicon-warning-sign form-control-feedback"
							aria-hidden="true"></span> <span
							th:unless="${book.isbn.isValid()}" id="isbnStatus"
							class="sr-only">(ungültige ISBN)</span>
						</td>
						<td th:if="${book.isbn == null}"></td>
					</tr>
				</tbody>
			</table>
			<div class="panel-footer">Panel footer</div>
		</div>
	</div>
</body>
</html>