<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Bücher : Übersicht</title>
</head>
<body>
	<h1 layout:fragment="header">Bücher : Übersicht</h1>
	<div layout:fragment="content" class="container">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Titel</td>
					<td>ISBN</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${books.empty}">
					<td colspan="3" th:text="#{message.buch.liste.leer}">No messages</td>
				</tr>
				<tr th:each="book : ${books}">
					<td th:text="${book.id}">1</td>
					<td th:text="${book.titel}">Titel</td>
					<td th:text="${book.isbn.toString()}">ISBN</td>
				</tr>
			</tbody>
		</table>
		<div>
		<a href="/book/add" th:text="#{buch.liste.link.erfassen}">Neues Buch registrieren</a>
		</div>
	</div>
</body>
</html>