<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Kleine Bücherverwaltung - Einstellungen</title>
</head>
<body>
	<div layout:fragment="header">
		<div class="container">
			<h1>Einstellungen</h1>
		</div>
	</div>
	<div layout:fragment="content">
		<!-- Jumbotron -->
		<div class="jumbotron">
			<p>Hier werden später die aktuellen Einstellungen aufgelistet.</p>
		</div>
	</div>
</body>
</html>


