<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Kleine Bücherverwaltung - Fehlerseite</title>
</head>
<body>
	<div layout:fragment="header">
		<div class="container">
			<h1 th:text="#{books.section}">?Fehlerseite</h1>
		</div>
	</div>
	
	<div layout:fragment="content">
		<!-- Jumbotron -->
		<div class="jumbotron">
			<p>Uuupss, das hätte nicht passieren dürfen :( sorry.</p>
			<a class="btn btn-lg btn-success" th:href="@{${link.books}}"
				role="button" th:text="#{fehlerseite.button.weiter.text}">?Weiteres
				Buch erfassen</a>
			<p>
				Ausgelöst auf URL: <span th:text="${url}">?url</span>. Mit
				Stacktrace: <span th:text="${exception.message}">?exception</span>
			</p>
		</div>
	</div>
</body>
</html>