<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Kleine Bücherverwaltung - Impressum</title>
</head>
<body>
	<h1 layout:fragment="header">Impressum</h1>
	<div layout:fragment="content" class="content">
		<!-- Jumbotron -->
		<div class="jumbotron">
			<a href="http://stackoverflow.com/users/373498/funthomas424242"
				target='_blank'> <img
				src="http://stackoverflow.com/users/flair/373498.png" width="208"
				height="58"
				alt="profile for FunThomas424242 at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
				title="profile for FunThomas424242 at Stack Overflow, Q&amp;A for professional and enthusiast programmers" />
			</a>
		</div>
	</div>
</body>
</html>


