<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Kleine Bücherverwaltung - Impressum</title>
</head>
<body>
<div layout:fragment="navmenu">
		<ul class="nav navbar-nav navbar-right">
			<li><a th:attr="href=#{link.books}">Bücher</a></li>
			<li><a th:attr="href=#{link.settings}">Einstellungen</a></li>
			<li><a th:attr="href=#{link.user}">Nutzer</a></li>
			<li class="active"><a th:attr="href=#{link.impressum}">Impressum</a></li>
		</ul>
	</div>
	<div layout:fragment="header">
		<div class="page-header">
			<h1>Impressum</h1>
		</div>
	</div>
	<div layout:fragment="content">
		<p>
			<a href="http://stackoverflow.com/users/373498/funthomas424242"
				target='_blank'> <img
				src="http://stackoverflow.com/users/flair/373498.png" width="208"
				height="58"
				alt="profile for FunThomas424242 at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
				title="profile for FunThomas424242 at Stack Overflow, Q&amp;A for professional and enthusiast programmers" />
			</a>
		</p>
	</div>
</body>
</html>


