<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Layout</title>


<!-- Gespiegelte Styles über WebJAR CSS -->
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css}"
	rel="stylesheet" media="screen" />

<!-- locale CSS -->
<link rel="stylesheet" th:href="@{/css/jumbotron.css}"
	href="../css/jumbotron.css" />


<!-- Die spezifischen lokalen CSS 
<link rel="stylesheet" th:href="@{/css/dashboard.css}"
	href="../css/dashboard.css" />



<link rel="stylesheet" th:href="@{/css/justified-nav.css}"
	href="../css/justified-nav.css" />

-->

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Navigation ein-/ausblenden</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" target="_blank"
					href="https://github.com/FunThomas424242/books.example"> <img
					style="position: absolute; height: 50px; top: 0; left: 0; border: 0;"
					src="/img/Lieblingsbuch149x149.png" alt="App Icon Lieblingsbuch" />
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a th:attr="href=#{link.books}">Bücher</a></li>
					<li><a th:attr="href=#{link.settings}">Einstellungen</a></li>
					<li><a th:attr="href=#{link.user}">Nutzer</a></li>
					<li><a th:attr="href=#{link.impressum}">Zugang Erstellen</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="openID" class="form-control" />
					</div>
					<button type="submit" class="btn btn-success">Anmelden</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="container">

		<div layout:fragment="header" class="jumbotron">Layout</div>
		<div layout:fragment="content" class="container">Fake content</div>
		<!-- Site footer -->
		<footer class="footer">

			<div>
				powered by <a href="http://www.glyphicons.com/">glyphicons</a>,
				powered by <a href="http://www.getboostrap.com">bootstrap</a>,
				powered by <a href="http://www.spring.io">spring</a>
			</div>
			<div>
				<a href='https://www.openhub.net/accounts/68990?ref=Detailed'
					target='_blank'> <img
					alt='Open Hub profile for FunThomas424242' border='0' height='35'
					src='https://www.openhub.net/accounts/68990/widgets/account_detailed.gif'
					width='230' />
				</a>erstellte die Anwendung und änderte sie zuletzt in 2015.
			</div>
		</footer>
	</div>
	<!-- container -->

	<!-- Gespiegelte Skripte über WebJARs -->
	<script
		src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
		th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>

	<script
		src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.js}"></script>

	<!-- lokale Skripte-->
	<script th:src="@{/js/docs.min.js}" src="../js/docs.min.js"></script>

</body>
</html>
