<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Kleine Bücherverwaltung - Nutzerdaten</title>
</head>
<body>
	<div layout:fragment="header">
		<div class="page-header">
			<h1>Nutzerdaten</h1>
		</div>
	</div>
	<div layout:fragment="content">
		<h3>Name des Nutzers</h3>
		<p>Platzhalter für den QR-Kode der UUID des Users.</p>
		<p>Platzhalter für den öffentlichen Schlüssel des Users</p>
	</div>
</body>
</html>


