[Desktop Entry]
Type=Application
Name=Stoppe Service
Comment=Stoppt den Server der Bücherverwaltung mit lokaler Datenbank
Icon=/usr/share/lib/books.app/Stop-Epiphany-bookmarks.png
Exec=curl -X POST http://localhost:9000/shutdown
Terminal=false
StartupNotify=true
Categories=Office

Name[en_EN]=Stop the service